<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeBreaker</title>
  </head>
  <body>
    <form method="post">
      <input type="text" name="guess" autofocus>
      <input type="submit">
    </form>
    <% @guesses.each do |guess| %>
      <p><%= guess %></p>
    <% end %>
    <a href="/">New game</a>
  </body>
</html>
