<div class="main">
  <h1 class="big"><span class="code">Code</span>Breaker</h1>
  <p>
    Вам предстоит за 12 попыток угадать секретный код из четырех цифр, задуманный компьютером.
    После каждой попытки он сравнивает ваше число со своим и выставляет вам оценку из двух чисел по следующим правилам:
  </p>

  <ul>
    <li><strong>Число А</strong> - количество точных совпадений</li>
    <li><strong>Число В</strong> - количество совпавших цифр, находящихся на неверной позиции. В это число не входят лишние дупликаты и цифры, попавшие в число А</li>
  </ul>

  <h2>Пример</h2>
  <p>
    Секретный код: 1123<br>
    Попытка: 4213<br>
    Оценка: A1B2<br>
  </p>
  <p>
    Вы можете выбрать режим "Задумать код", чтобы поменяться с компьютером ролями
  </p>
  <div class="links">
    <a href="/guess">Играть</a>
    <a href="/ask">Задумать код</a>
  </div>
</div>
