<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeBreaker</title>
    <link rel="stylesheet" href="/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
